*{
    font-family: 'Nunito', sans-serif;;
}

h1, h2, h3, h4, h5, h6{
    color: #01015D;
}

p{
    color: #04047B;
}

legend{
    color: #0404AB;
}

footer{
    font-size: 12px;
}

footer p{
    color:#dbdade
}

a {
    text-decoration: none;
}

a p {
    color: rgb(200 200 230);

}

a p:hover {
    color: #0404AB;
    transition: 0.2s ease;
}

/* font size */

.fontSize10p{
    font-size: 10px;
}

.fontSize12p{
    font-size: 12px;
}

.fontSize16p{
    font-size: 16px;
}

