.wth{
    border: 1px solid blue;
    height: 200px;
}

.b{
    border: 1px solid blue;
}

/* base */


.h75{
    height:75vh;
}

.m1em{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mtPage{
    margin-top: 100px;
    margin-bottom:40px;
}
/* flex */



.flex{
    display: flex;
}

.flexCol{
    flex-direction: column;
}

.spaceA{
    justify-content: space-around;
}

.spaceB{
    justify-content: space-between;
}

.flexC{
    justify-content: center;
}

.flexE{
    justify-content: flex-end;
}

.flexS{
    justify-content: flex-start;
}

.alignC{
    align-items: center;
}

.alignS{
    align-items: flex-start;
}

.cgap10{
    column-gap: 10px;
}

/* grid */

.grid{
    display: grid;
}

.gtc{
    grid-template-columns: 50px repeat(auto-fit, minmax(12vw, 1fr));
}

.gtc2{
    grid-template-columns: 20vw repeat(auto-fit, minmax(12vw, 1fr));
}

.gc2s{
    grid-column: 2 span;
}
/* margin */

.m0{
    margin: 0
}

.mt0{
    margin-top: 0px;
}

.mb1{
    margin-bottom: 1vw;
}

.mtb15{
    margin-top:15px;
    margin-bottom:15px;
}

.mtb30{
    margin-top:30px;
    margin-bottom:30px;
}

.mtb60{
    margin-top:60px;
    margin-bottom:60px;
}

.mtb1{
    margin-top:1vw;
    margin-bottom: 1vw;
}

.mtb2{
    margin-top:2vw;
    margin-bottom: 2vw;
}

.mlr1{
    margin-left: 1vw;
    margin-right: 1vw;
}

.ml1{
    margin-left: 1vw;
}

.mlr18{
    margin-left:18vw;
    margin-right: 2vw;;
}

.mr10p{
    margin-right: 10px;
}

.ml0{
    margin-left: 0;
}
.mlr2{
    margin-left: 2vw;
    margin-right: 2vw;
}

.mlr15{
    margin-left:15px;
    margin-right:15px;
}

.mlr30{
    margin-left:30px;
    margin-right:30px;
}

.mlr60{
    margin-left:60px;
    margin-right:60px;
}

.mrt10p5{
    margin-right: 10px;
    margin-top: 5px;
}


/* padding */

.ptb10{
    padding-top:10px;
    padding-bottom:10px;
}

.plr15{
    padding-left:15px;
    padding-right:15px;
}

.plr1{
    padding-left:1vw;
    padding-right:1vw;
}

.plr60{
    padding-left:60px;
    padding-right:60px;
}

.pr35{
    padding-right: 35px;
}

.pb1{
    padding-bottom: 1vw;
}
.pb2{
    padding-bottom: 2vw;
}




/* Width & Height */
.wh30p{
    width:30px;
    height: 30px;
}

.wh25p{
    width:25px;
    height: 25px;
}

.wh50p{
    width:50px;
    height: 50px;
}


.whbtn{
    min-width: 30px;
    max-width:15vw;
    min-height: 30px;
}

.w50p{
    width:50px;
}

.w15{
    width:15vw;
}

.w25{
    width: 25vw;
}

.w45{
    width:45vw
}

.w270{
    width: 270px;
}


.mw75p{
    max-width: 75px;
}
/* Position */
.absolute{
    position:absolute;
}

.relative{
    position:relative;
}

.fright{
    float:right;
}