::placeholder {
  color: rgb(200 200 230);
}
/* ::selection {
  color: #0404ab;
} */

select:focus{
  color: #0404ab;
}



select{
  color: rgb(200 200 230);
}

input {
  color: rgb(200 200 230);
}

.btnClassic {
  color: #01015D;
  background-color:rgb(223, 223, 252);
  border: none;
  font-weight: 500;
  border-radius: 2px;
  transition: 0.2s ease;
  cursor: pointer;
}

input:focus {
  color: #0404ab;
}

.neoStyle {
  border-radius: 13px;
  background: linear-gradient(45deg, #dbdade, #ffffff);
  box-shadow: 22px -22px 43px #d3d3d7, -22px 22px 43px #ffffff;
}

.bsd {
  box-shadow: 0px 2px 5px rgb(223, 223, 252);
}

.bsdB {
  box-shadow: 0px 15px 10px -15px rgb(223, 223, 252);
}

.bsdBorder {
  border: rgb(223 223 252) solid 0.1px;
}

.bgWhite {
  background-color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* #testCalendar:after{
  content: url('https://cdn-icons-png.flaticon.com/512/5885/5885054.png width="25" height="25"');
}  */
