

.fixed{
    position:fixed;
}

.headerFixed{
    width: 95vw;
    padding-top: 15px;
}

.top{
    top: 0;
}

.bottom{
    bottom: 0;
}

.tac{
    text-align: center;
}

.scroller {
    width: auto;
    height: 65vh;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

