

@media screen and (max-width:830px){
    aside {
        display:none;
    }

    .mlr18{
        margin-left: 2vw;
    }

    .scroller{
        width: 80vw
    }

    .flexCTab{
        justify-content: center;
    }

    .plr1{
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .gc2sTab{
        grid-column: 2 span;
    }

    .gr2sTab{
        grid-row: 2 span;
    }

    .alignETab{
        align-items: flex-end;
    }
}

@media screen and (max-width:500px){
    .displayTab{
        display: none;
    }

    .alignSTab{
        align-items: flex-start
    }

    .marginH2Tab{
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .gc2sTab{
        grid-column: 3 span;
    }

    .gr2sTab{
        grid-row: 4 span;
    }

    .flexCTab{
        justify-content: flex-end;
    }

    .tacMob{
        text-align:left
    }

}