*:focus {
  outline: none;
}

.displayTab {
  display: none;
}

.scrollerLog {
  overflow-y: scroll;
  scrollbar-width: thin;
}



input[type="text"],
input[type="password"], input[type="email"] {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  border: none;
  border-bottom: 1px solid #aaa;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus, input[type="email"]:focus {
  border-bottom: 2px solid #0404ab;
  color: #0404ab;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  background: #0404ab;
  border-radius: 2px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}


input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  color: #ffffff;
  height: 50px;
  width: 50px;
  background: rgb(200 200 230);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 50px;
  text-align: center;
}

.hoverBtn {
  border: none;
  border-radius: 2px;
  font-weight: 700;
  transition: 0.2s ease;
  cursor: pointer;
}

.hoverBtn:hover,
.hoverBtn:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

  transition: 0.2s ease;
}

.hoverBtn:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

.hoverBtn.facebook {
  background: #32508e;
}

.hoverBtn.twitter {
  background: #55acee;
}

.hoverBtn.google {
  background: #dd4b39;
}
